<div class="col-md-3">
    <div class="panel panel-default sidebar-menu">
        <div class="panel-heading">
            <h3 class="panel-title">Account Menu</h3>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <!--<li ng-class="{active: accountCtrl.setTab('account')}">
                    <a ng-click="accountCtrl.go('/account')" href><i class="fa fa-user"></i>My account</a>
                </li>
                <li ng-class="{active: accountCtrl.setTab('myhouses'))}">
                    <a ng-click="accountCtrl.go('/account/myhouses')" href><i class="fa fa-home"></i>My houses</a>
                </li>
                <li ng-class="{active: accountCtrl.setTab('myjourneys'))}">
                    <a ng-click="accountCtrl.go('/account/myjourneys')" href><i class="fa fa-list"></i>My journeys</a>
                </li>
                <li ng-class="{active: accountCtrl.setTab('mywishlist'))}">
                    <a ng-click="accountCtrl.go('/account/mywishlist')" href><i class="fa fa-star"></i>My wishlist</a>
                </li>
                <li ng-class="{active: accountCtrl.setTab('chat'))}">
                    <a ng-click="accountCtrl.go('/account/chat')" href><i class="fa fa-comments"></i>Chat</a>
                </li>-->
                <li>
                    <a ng-click="accountCtrl.go('/account')" href><i class="fa fa-user"></i>My account</a>
                </li>
                <li>
                    <a ng-click="accountCtrl.go('/account/myhouses')" href><i class="fa fa-home"></i>My houses</a>
                </li>
                <li>
                    <a ng-click="accountCtrl.go('/account/myjourneys')" href><i class="fa fa-list"></i>My journeys</a>
                </li>
                <li>
                    <a ng-click="accountCtrl.go('/account/leavefeedback')" href><i class="fa fa-star"></i>Leave a feedback</a>
                </li>
                <li>
                    <a ng-click="accountCtrl.go('/account/mywishlist')" href><i class="fa fa-heart"></i>My wishlist</a>
                </li>
                <li>
                    <a ng-click="accountCtrl.go('/account/chat')" href><i class="fa fa-comments"></i>Chat</a>
                </li>
            </ul>
        </div>
    </div>
</div>
